@import "tailwindcss";

@theme {
  --color-slate-black: #191a21;
  --color-slate-blue-explorer: #21222d;
  --color-dracula: #282a36;
  --color-white: #f8f8f2;
  --text-sm: 0.8125rem;
  --font-fira-code: "Fira Code", arial;
  --color-gutter: #333768;
}

@layer utilities {
  .triangle-before {
    @apply relative;
  }

  .triangle-before::before {
    content: "";
    @apply absolute w-0 h-0 border-solid border-transparent rotate-[270deg];
    border-width: 0 100px 150px 100px;
    border-bottom-color: #ff4532;
  }
}
